@page
@model coreproj.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>This is the details of the course</h1>
<div>
    The id of the course is @Model.obj.Id</br>
    The name of the course is @Model.obj.Name</br>
    The rating of the course is @Model.obj.rating</br>
</div>
<a asp-page="./Index">Going back to the Index page</a>

